@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: auto;
  max-width: 1200px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}
nav {
  display: flex;
  align-items: center;
}

nav p {
  margin-left: 2rem;
}

main {
  display: flex;
}

.images {
  position: relative;
  width: 50%;
  height: fit-content;
}

img {
  width: 292px;
  height: 439px;
}

img:nth-last-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
}
.contents {
  width: 50%;
}

h1 {
  margin-bottom: 2rem;
}

button {
  color: yellow;
  background: #f29406;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  transition: 0.3s ease;
}
button:hover {
  box-shadow: 0px 0px 20px rgba(242, 148, 6, 0.5);
}

.head {
  margin-top: 2rem;
  padding: 2rem 5rem;
  background: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.09);
}
.table {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.head h2 {
  text-align: center;
}
